*{
    padding:0px;
    margin:0px;
    /* text-decoration: Snone; */

}
li{
    text-decoration: none;
}
.b_one
{
    color:red;
    font-weight: 10px;
    font-size: 40px;
    position: absolute;
    left:16px;
    float: botttom;
}
.menu
{
    height:100%;
    width:300px;
    left: -400px;
    background-color: rgba(255,255,255,0.1);
    position: relative;
    padding:50px;
    transition: all 0.3s linear;
}
.sub_menu
{
   
    width:200px;
    height:300px;
    top:10px;
    padding:40px;
    line-height:70px;
}
.menu .b_two{
    position:relative;
    float:right;
    color:white;
    /* cursor:progress; */
    
}
.menu .logo a
{
    box-shadow: 0px 0px 0px 6px rgba(225,225, 125, 0.1);
    position: absolute;
    /* padding: 10px; */
    /* height:100px */
    text-decoration: none;
}
.menu .b_two span{
    cursor:pointer;
}
.sub_menu li a{
    text-decoration: none;
    padding-left:20px;
}
.sub_menu li{
    list-style: none;
}
.sub_menu i,a{
    color:white;
}
.sub_menu li:hover{
    background-color: rgba(255,255,255,0.1);
    border-radius:10px 10px 10px 10px;
}
.b_two span:hover
{
    font-size:30px;
}
#check
{
    display: none;
}
#check:checked ~ .menu
{
    left:0;
}
/* .main
{
    position: absolute;
} */
#check:checked ~ .b_one
{
    opacity: 0;
}

/* .add{
    position: absolute;
    right: -100x;
} */
.nav
{
    display:flex;
    width:100%;
}
.plus
{

    position: absolute;
    bottom:200px;
    float: right;
    margin-left: 90%;
    border-radius: 50%;
}

.box
{
    text-align:center;
    margin:auto;
    height: 40px;
    width:70px;
    justify-content: center;
    padding-top:20px;
    border: 1px solid black;
    margin-left:100px;
    margin-top:20px;
    border-radius: 10px 10px 10px 10px;
}
.box:hover{
    background-color: gray;
}
/* .nav{
    flex-direction: row-;
} */
.box1
{
            text-align: center;
            margin-top:300px;
}
input[type="text"]
{
        
            border-radius:10px 10px 10px 10px; 
}
input:focus{
            
    color:lawngreen;
    background-color: black;
}
.plus{
    margin-top:500px;;
    font-size:50px;
    position: absolute;
    top:10px;
}
.p1
{
    font-size: 80px;
    position: absolute;
    float: right;
    left:90%;

}

#container
{
    height:300px;
    width:300px;
    position:absolute;
    left:500px;
    top:100px;
    text-align:center;
    font-family: "Jersey 15", sans-serif;
    background-color: aliceblue;
    border-radius: 10px 10px 10px;
    overflow:auto;
    overflow-x:hidden;
    background-color: rgba(225,225, 125, 0.1);
}

#check1
{
    display: none;
}

.textadd
{
    
     height:20px;
    width:300px;
    margin:0;
    bottom:100px;
    left: -500px;
    background-color: rgba(255,255,255,0.1);
    position: relative;
    padding:50px;
    transition: all 1s linear;
    text-align:center;
    border-radius:10px 10px;

}

#check1:checked ~ .textadd
{
    left:500px;
}
#cross
{
    position:absolute;
    right:40px;
    top:0;

}


#t
{
    position: relative;
    left:90%;
    bottom: 300px;;
}


#innerbox
{
    background-color:aliceblue;
    position:relative;
    left:100px;
}


.addbio
{
    /* top:400px; */
    height:100px;
    width:600px;
    position:relative;
    background-color: rgba(255,255,255,0.1);
    text-align:center;
    border-radius:10px 10px;
    transition: all 1s linear;
    padding:40px;
   left:-900px;
   top:400px;
}
#check3
{
    display:none;
}
#check3:checked~.addbio{
    top:400px;
    left:0;
}

.tq:hover
{
    font-size: 50px;
}

.info::selection
{
    background-color: red;
}